.main-body {
    padding-left: 100px;
    background-color: black;
    margin: 0px;
}

.header-section {
    position: absolute;
    padding-top: 20px;
    height: 24px;
}

.text-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    width: fit-content;
    color: aliceblue;
    font-family: 'Inter';
    padding-right: 20px;
}

.title-text {
    font-weight: 400;
    margin: 0px;
}

.sub-text {
    font-weight: 300;
    margin: 0px;
    padding-top: 12px;
}

@media only screen and (max-width: 600px) {
    .main-body {
      padding-left: 20px;
    }
  }